<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>
   
</head>
<body>
    <div class="container justify-content-center min-vh-100 align-items-center d-flex">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-12">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis distinctio cupiditate temporibus inventore tenetur ducimus eum libero rem illum quod reprehenderit aut, ab voluptatum atque eos suscipit officia, ea ad.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure veniam rerum nemo facere, repellat sint similique, magnam dolorum expedita mollitia repudiandae quam eaque quia soluta explicabo quos. Mollitia, adipisci ratione.
            </div>
        </div>
    </div>
</body>
</html>