<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>

</head>

<body>
    <div class="container justify-content-center ">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ collection.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    <p>Date de création : {{ collection.date |date:"F j, Y"}}</p>
                </h6>
                <p class="card-text">Description : {{ collection.description }}</p>
            </div>
        </div>

    </div>
</body>

</html>