<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collection</title>

</head>

<body>


    <form method="post">
        <h1 class="text-center">Ajouter une nouvelle collection</h1>
        {% csrf_token %}
        {% for field in form %}
        <div class="my-2">
            <label for="{{field.id_for_label}}">{{field.label}}</label>
            {{field}}
        </div>
        {% endfor %}
        <button type="submit">Ajouter</button>
    </form>

</body>

</html>